{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="jumbotron">
    <img src="Style/hero.jpg" alt="hero" width="100%">
</div>
{% endblock %}
