<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.72.0">
  <title>Album example · Bootstrap</title>

  <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/album/">


</head>

<body>

<h1>Welcome on snowtrick {{ user.username }} !</h1>
<a href="http://localhost{{ path('app_userToken', { 'token': registrationToken.token }) }}">Validate my account</a>


</body>

</html>