{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!
{% endblock %}

{% block javascript %}
<script language = "javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
{% include('js/_loadMoreTricks.js.twig') %}
{% endblock %}

{% block body %}

	<main>

		<div class="hero p-0 m-0">
			<h1 class="slogan d-inline">The snow must go on</h1>
			<a href="#tricks">
				<div class="arrow_container">
					<div class="chevron"></div>
					<div class="chevron"></div>
					<div class="chevron"></div>
				</div>
			</a>
		</div>

		<div class="album py-5 bg-light position-relative" id="tricks">
			<div class="container">

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3 mb-3" id="tricksCards">

					{% for trick in tricks %}
						{{ include('trick/_trickCard.html.twig') }}
					{% endfor %}
					
				</div>
				<div class="text-center">
					<button onClick="loadMore()" class="btn btn-dark my-3" id="loadMore">Load More</button>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<a href="{{ path('add_trick') }}" class="btn btn-dark my-3">Add a trick</a>
					{% endif %}
				</div>
				<a href="#tricks" id="downArrow">
					<div class="arrow_container">
						<div class="chevron2"></div>
						<div class="chevron2"></div>
						<div class="chevron2"></div>
					</div>
				</a>
			</div>
		</div>
	</main>

	{% endblock %}
