{% extends 'base.html.twig' %}

{% block title %}Hello UserController!
{% endblock %}

{% block body %}
	<main>
		<div class="album py-5 bg-light">

			<div class="text-center input-group justify-content-center">
				<h1 class="start-50 bottom-0 translate-middle-x">Registration</h1>
				{{ form(resendRegistrationTokenForm) }}
			</div>
		</div>
	</main>
{% endblock %}
