{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container">
    <div class="form-group">
        {{ form(userForm) }}
    </div>
</div>
{% endblock %}
