{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
    <main>

        <div class="album py-5 bg-light">
            <div class="input-group justify-content-center">
                <form method="post">
                    <div class="justify-content-center">
                        <h1>Login</h1>
                    </div>
                    <div class="mb-3">
                        <label for="InputUsername" class="form-label justify-content-center">Username</label>
                        <input type="email" class="form-control" id="InputUsername" name="username" aria-describedby="emailHelp" required="required">
                    </div>
                    <div class="mb-3">
                        <label for="InputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="InputPassword1" required="required">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="Check1">
                        <label class="form-check-label" for="Check1">Check me out</label>
                    </div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>

    </main>

{% endblock %}
